
**/node_modules/**/*
out
yarn.lock
package-lock.json
public
**/*.svg
package.json
.eslintignore
*.png
*.toml
.gitignore
.prettierignore
LICENSE
.eslintcache
*.lock
yarn-error.log

node_modules
**/.next/**
**/_next/**
**/dist/**
**/__tmp__/**
lerna.json
.github